<div style="min-height:100vh; display:flex; justify-content:center; align-items:center; padding: 24px;">
  <div style="width: 420px; max-width: 100%;">
    <h2>Iniciar sesión</h2>

    <form [formGroup]="form" (ngSubmit)="login()" style="display:flex; flex-direction:column; gap: 14px;">
      <div>
        <label>Correo</label>
        <input pInputText type="email" formControlName="email" placeholder="admin@arp.com" style="width:100%;" />
        <p-message *ngIf="isInvalid('email')" severity="error" variant="simple" size="small">
          Correo obligatorio y válido.
        </p-message>
      </div>

      <div>
        <label>Contraseña</label>
        <p-password
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="Admin@12345!"
          styleClass="w-full"
        ></p-password>
        <p-message *ngIf="isInvalid('password')" severity="error" variant="simple" size="small">
          La contraseña es obligatoria.
        </p-message>
      </div>

      <button pButton type="submit" label="Entrar" severity="primary"></button>

      <div style="display:flex; justify-content:space-between;">
        <a routerLink="/">← Inicio</a>
        <a routerLink="/register">Ir a Registro</a>
      </div>
    </form>
  </div>
</div>