.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.content {
  flex: 1 1 auto;
  min-width: 0;      /* ✅ CLAVE: arregla PrimeNG dentro de flex */
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column; /* ✅ para que el contenido baje en columna */
  align-items: flex-start;
  justify-content: flex-start;
}