<p-toast></p-toast>

<div style="min-height:100vh; display:flex; justify-content:center; align-items:center; padding: 24px;">
  <div style="width: 520px; max-width: 100%;">
    <h2>Registro</h2>

    <form [formGroup]="form" (ngSubmit)="register()" style="display:flex; flex-direction:column; gap: 14px;">

      <div>
        <label>Usuario</label>
        <input pInputText type="text" formControlName="username" style="width:100%;" />
        <p-message *ngIf="isInvalid('username')" severity="error" variant="simple" size="small">
          Usuario obligatorio.
        </p-message>
      </div>

      <div>
        <label>Email</label>
        <input pInputText type="email" formControlName="email" style="width:100%;" />
        <p-message *ngIf="isInvalid('email')" severity="error" variant="simple" size="small">
          Email obligatorio y válido.
        </p-message>
      </div>

      <div>
        <label>Nombre completo</label>
        <input pInputText type="text" formControlName="fullName" style="width:100%;" />
        <p-message *ngIf="isInvalid('fullName')" severity="error" variant="simple" size="small">
          Nombre obligatorio.
        </p-message>
      </div>

      <div>
        <label>Dirección</label>
        <input pInputText type="text" formControlName="address" style="width:100%;" />
        <p-message *ngIf="isInvalid('address')" severity="error" variant="simple" size="small">
          Dirección obligatoria.
        </p-message>
      </div>

      <div>
        <label>Teléfono (solo números)</label>
        <input pInputText pKeyFilter="int" type="text" formControlName="phone" style="width:100%;" />
        <p-message *ngIf="isInvalid('phone')" severity="error" variant="simple" size="small">
          Teléfono obligatorio (solo números).
        </p-message>
      </div>

      <div>
        <label>Fecha de nacimiento (mayor de edad)</label>
        <p-datepicker formControlName="birthDate" [showIcon]="true" styleClass="w-full"></p-datepicker>
        <p-message *ngIf="isInvalid('birthDate')" severity="error" variant="simple" size="small">
          Debes ser mayor de edad.
        </p-message>
      </div>

      <div>
        <label>Contraseña</label>
        <p-password
          formControlName="password"
          [toggleMask]="true"
          [feedback]="true"
          styleClass="w-full"
        ></p-password>

        <p-message *ngIf="isInvalid('password')" severity="error" variant="simple" size="small">
          Mínimo 10 caracteres y al menos 1 símbolo: ! @ # $ % ^ & *
        </p-message>
      </div>

      <div>
        <label>Confirmar contraseña</label>
        <p-password
          formControlName="confirmPassword"
          [toggleMask]="true"
          [feedback]="false"
          styleClass="w-full"
        ></p-password>

        <p-message *ngIf="isInvalid('confirmPassword')" severity="error" variant="simple" size="small">
          Confirma tu contraseña.
        </p-message>

        <p-message *ngIf="hasMismatch()" severity="error" variant="simple" size="small">
          Las contraseñas no coinciden.
        </p-message>
      </div>

<button
  pButton
  type="submit"
  [label]="loading ? 'Registrando...' : 'Registrar'"
  severity="success"
  [disabled]="loading"
></button>

      <div style="display:flex; justify-content:space-between;">
        <a routerLink="/">← Inicio</a>
        <a routerLink="/login">Ir a Login</a>
      </div>
    </form>
  </div>
</div>