<aside class="logo">
  <div class="brand">
    <div class="logo">{{ appName }}</div>
  </div>

<div class="sidebar">
  <div class="brand">
    <span class="title">Menú</span>
  </div>

  <div class="links">
    <button pButton type="button" label="Home" icon="pi pi-home" routerLink="/home" class="w-full"></button>

    

    <button pButton type="button" label="Groups" icon="pi pi-users" routerLink="/groups" class="w-full"></button>

    <button pButton type="button" label="Users" icon="pi pi-user" routerLink="/users" class="w-full"></button>

     <div class="bottom">
    <button
      pButton
      type="button"
      label="Cerrar sesión"
      icon="pi pi-sign-out"
      severity="danger"
      class="w-full"
      (click)="logout()"
    ></button>
  </div>

      <div class="version">{{ version }}</div>

  
</div>
